services:
  rudolfs:
    image: ghcr.io/epfl-enac/epfl-enac/git-lfs:dev
    container_name: rudolfs
    restart: always
    ports:
      - "8080:8080"
    env_file:
      - ./.env
    command:
      [
        "--host", "0.0.0.0:8080",
        "--max-cache-size", "${RUDOLFS_MAX_CACHE_SIZE}",
        "--key", "${RUDOLFS_KEY}",
        "local",
        "--path=/data"
      ]
    volumes:
      - rudolfs-data:/data

volumes:
  rudolfs-data:
    driver: local
